/* src/pages/Dashboard.css */

.dashboard-container {
    text-align: center;
    padding: 20px;
  }
  
  .dashboard-title {
    font-size:500%;
    color: #333;
  }
  
  .dashboard-welcome {
    font-size: 1.2em;
    color: #666;
  }
  